SharedService/Resources/FiscalVerificationSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:fu="http://www.fu.gov.si/" targetNamespace="http://www.fu.gov.si/" elementFormDefault="qualified">
	<import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"/>
	<element name="InvoiceRequest">
		<annotation>
			<documentation>Vsebina in oblika sporočila s podatki o računu. / Content and form of the message with data about the invoice.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Header" type="fu:HeaderType" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Glava sporočila / Message header</documentation>
					</annotation>
				</element>
				<choice>
					<element name="Invoice" type="fu:InvoiceType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Vpišejo se podatki o računu, ki je izdan z uporabo elektronske naprave. / Data are entered about the invoice, which is issued with usage of the electronic device.</documentation>
						</annotation>
					</element>
					<element name="SalesBookInvoice" type="fu:SalesBookType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Vpiše se davčna številka zavezanca, ki je izdal račun. / The tax number of the person liable, who has issued the invoice, is entered.</documentation>
						</annotation>
					</element>
				</choice>
				<element ref="ds:Signature" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="Id" type="string">
				<annotation>
					<documentation>Atribut za potrebe digitalnega podpisa. V njem imamo id, ki se veže na digitalni podpis. / Attribute for needs of the digital signature. In it we have id, which is linked to the digital signature.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="InvoiceResponse">
		<annotation>
			<documentation>Odgovor za oddajo računa. / Response for submitting the invoice.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Header" type="fu:HeaderResponseType"/>
				<element name="UniqueInvoiceID" type="fu:UUIDType" minOccurs="0">
					<annotation>
						<documentation>Enkratni identifikator sporočila. / Unique identifier of the message.</documentation>
					</annotation>
				</element>
				<element name="Error" type="fu:ErrorType" minOccurs="0"/>
				<element ref="ds:Signature" minOccurs="0"/>
			</sequence>
			<attribute name="Id" type="string">
				<annotation>
					<documentation>Atribut za potrebe digitalnega podpisa. V njem imamo id, ki se veže na digitalni podpis./ Attribute for needs of the digital signature. In it we have id, which is linked to the digital signature.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="BusinessPremiseRequest">
		<annotation>
			<documentation>Vsebina in oblika sporočila s podatki o poslovnem prostoru zavezanca. / Content and form of the message with data about business premises of the person liable.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Header" type="fu:HeaderType" minOccurs="1" maxOccurs="1"/>
				<element name="BusinessPremise" type="fu:BusinessPremiseType" minOccurs="1" maxOccurs="1"/>
				<element ref="ds:Signature" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="Id" type="string">
				<annotation>
					<documentation>Atribut za potrebe digitalnega podpisa. V njem imamo id, ki se veže na digitalni podpis. / Attribute for needs of the digital signature. In it we have id, which is linked to the digital signature.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="BusinessPremiseResponse">
		<annotation>
			<documentation>Odgovor na zahtevo poslovnega prostora. / Response for submitting the business premise.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Header" type="fu:HeaderResponseType"/>
				<element name="Error" type="fu:ErrorType" minOccurs="0"/>
				<element ref="ds:Signature" minOccurs="0" maxOccurs="1"/>
			</sequence>
			<attribute name="Id" type="string">
				<annotation>
					<documentation>Atribut za potrebe digitalnega podpisa. V njem imamo id, ki se veže na digitalni podpis. / Attribute for needs of the digital signature. In it we have id, which is linked to the digital signature.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<complexType name="BusinessPremiseType">
		<annotation>
			<documentation>Poslovni prostor / Business premises</documentation>
		</annotation>
		<sequence>
			<element name="TaxNumber" type="fu:TaxNumberType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Davčna številka zavezanca, ki izdaja račune / Tax number of the person liable, who issues invoices</documentation>
				</annotation>
			</element>
			<element name="BusinessPremiseID" type="fu:BusinessPremiseIDType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se oznaka poslovnega prostora v katerem zavezanec izdaja račune pri gotovinskem poslovanju. Oznaka je lahko sestavljena iz številk in črk 0-9, a-z, A-Z. Oznaka mora biti enaka kot tista, ki je navedena na računih. Oznaka je enkratna na nivoju zavezanca. / The mark is entered of business premises, in which the person liable issues invoices in cash operations. The mark may include the following number and letters: 0-9, a-z, A-Z. The mark shall be the same as the mark, stated on invoices. The mark is unique at the level of the person liable.</documentation>
				</annotation>
			</element>
			<element name="BPIdentifier" type="fu:BPIdentifierType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpišejo se podatki o nepremičnem ali premičnem poslovnem prostoru. / Data are entered about immovable or movable business premises.</documentation>
				</annotation>
			</element>
			<element name="ValidityDate" type="fu:date">
				<annotation>
					<documentation>Datum začetka veljavnosti podatkov o poslovnem prostoru, ki se posredujejo. Podatek se vpiše v obliki: LLLL-MM-DD. / The date when data about business premises, which are submitted, become valid. DD / The data is entered in the following form: YYYY-MM-DD.</documentation>
				</annotation>
			</element>
			<element name="ClosingTag" type="fu:ClosingTagType" minOccurs="0">
				<annotation>
					<documentation>Vpiše se podatek o zaprtju poslovnega prostora, če gre za trajno zaprtje. Možna je vrednost »Z«. Po zaprtju v tem poslovnem prostoru ni več možno izdajati računov in računov z oznako tega poslovnega prostora ni več možno posredovati davčnemu organu. / The data is entered about the closure of business premises if the closure is permanent. The possible value is »Z«. After closure issuing invoices is not possible anymore in these business premises and it is not possible to submit invoices to the tax authority with the mark of these business premises.</documentation>
				</annotation>
			</element>
			<element name="SoftwareSupplier" type="fu:SoftwareSupplierType" maxOccurs="1000">
				<annotation>
					<documentation>Vpiše se podatek o proizvajalcu  ali vzdrževalcu programske opreme za izdajanje računov. Vpiše se eden od podatkov: 1. Davčna številka pravne ali fizične osebe / proizvajalca ali vzdrževalca programske opreme s sedežem v Sloveniji  in 2. Naziv in naslov proizvajalca ali vzdrževalca programske opreme, ki nima sedeža v Sloveniji. / The data is entered about the producer or software maintenance provider for issuing invoices. One of the following data is entered: 1. tax number of a legal entity or an individual – producer or software maintenance provider established in Slovenia and 2. title and address of the producer or software maintenance provider not established in Slovenia.</documentation>
				</annotation>
			</element>
			<element name="SpecialNotes" minOccurs="0">
				<annotation>
					<documentation>Vpišejo se morebitne druge oznake, ki podrobneje pojasnjujejo zapise v zvezi z vsebino podatkov o poslovnem prostoru. / Any other potential marks are entered, which explain in detail the records in connection with the content of data about business premises.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="1000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="InvoiceType">
		<annotation>
			<documentation>Račun / Invoice</documentation>
		</annotation>
		<sequence>
			<element name="TaxNumber" type="fu:TaxNumberType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se davčna številka zavezanca, ki je izdal račun. / The tax number of the person liable, who has issued the invoice, is entered.</documentation>
				</annotation>
			</element>
			<element name="IssueDateTime" type="fu:dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se datum in čas izdaje računa, ki je naveden na računu. Podatek se vpiše v formatu LLLL-MM-DDTUU:MM:SS. / Date and time of issuing the invoice, which is stated on the invoice, are entered. The data is entered in the following format YYYY-MM-DDTHH:MM:SS.
</documentation>
				</annotation>
			</element>
			<element name="NumberingStructure" type="fu:NumberingStructureType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se oznaka načina dodeljevanja številk računom: C – centralno na nivoju poslovnega prostora, B – po posamezni elektronski napravi (blagajna) Oznaka pojasnjuje na kakšen način se računom dodeljujejo številke. Številke računov se lahko dodeljujejo centralno na nivoju poslovnega prostora ali posamično na elektronski napravi za izdajanje računov. / The mark is entered for the method of assigning numbers to invoices: C - centrally at the level of business premises, B - per individual electronic device (cash register). The mark explains the method for assigning numbers to invoices. Invoice numbers may be assigned centrally at the level of business premises or individually on the electronic device for issuing invoices.</documentation>
				</annotation>
			</element>
			<element name="InvoiceIdentifier" type="fu:IdentifierType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se številka izdanega računa. Vpiše se tudi številka dokumenta, ki spreminja prvotni račun (dobropis, storno,…) v primeru izvajanja postopka potrjevanja naknadne spremembe podatkov na računu, ki spreminja prvoten račun in se nanj nedvoumno nanaša. Številka računa je sestavljena iz treh delov: oznaka poslovnega prostora; oznaka elektronske naprave za izdajanje računov; zaporedna številka računa. Številka računa se na računu navede v naslednji obliki: oznaka poslovnega prostora-oznaka elektronske naprave-zaporedna številka računa. Primer: TRGOVINA1-BLAG2-1234 Podatki se vpisujejo ločeno. / The number of the issued invoice is entered. The number of the document is also entered, which changes the original invoice (credit, reversing, etc.) in cases of performing the procedure for verification of subsequent changes of data on the invoice, which changes the original invoice and refers to it with reasonable certainty. The invoice number includes three parts: mark of business premises; mark of the electronic device for issuing invoices; sequence number of the invoice. The invoice number is stated on the invoice in the following form: mark of business premises-mark of the electronic device-sequence invoice number. Example: TRGOVINA1-BLAG2-1234. Data are entered separately.</documentation>
				</annotation>
			</element>
			<element name="CustomerVATNumber" type="fu:CustomerVATType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se davčna številka oziroma identifikacijska številka za namene DDV kupca oziroma naročnika v primeru, ko so ti podatki v skladu z davčnimi predpisi navedeni na računu. Podatek se vpiše, če je naveden na računu. / The tax number is entered or identification number for VAT purposes of the buyer or ordering party in cases when these data are stated on the invoice in accordance with tax regulations.</documentation>
				</annotation>
			</element>
			<element name="InvoiceAmount" type="fu:AmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vnese se skupni znesek računa. Vpiše se znesek računa skupaj z DDV in ostalimi davki/dajatvami, zmanjšan za zneske popustov. Decimalno ločilo je pika. / The total amount of the invoice is entered. The amount of the invoice is entered together with VAT and other taxes/duties, decreased for amounts of discounts. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="ReturnsAmount" type="fu:AmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se znesek povračil na računu, ki se priznajo kupcu (npr. na podlagi dobropisa za vračilo embalaže). Podatek se vpiše le, če na računu obstajajo povračila. Decimalno ločilo je pika. / The amount of refunds on the invoice, which are recognized to the buyer (e.g. on the basis of credit for returning packaging), is entered. The data is entered only if there are refunds on the invoice. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="PaymentAmount" type="fu:AmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se znesek računa za plačilo. Decimalno ločilo je pika. / The amount of the invoice for payment is entered. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="TaxesPerSeller" type="fu:TaxesPerSellerType" maxOccurs="1000">
				<annotation>
					<documentation>Vpiše se vrednost osnov po vrsti davka ali dajatve, razdeljeno po davčnih stopnjah, in pripadajoči davek ali dajatev, vrednost dobav na podlagi posebnih ureditev, dobav pri katerih je plačnik DDV kupec blaga ali naročnik storitve, oproščenih dobav in neobdavčljivih dobav, ločeno po davčnih številkah davčnih zavezancev. / The value is entered for bases according to types of taxes or duties, separated per tax rates, and associated taxes or duties, value of supplies on the basis of special arrangements, supplies where the payer of VAT is the buyer of goods or party ordering services, exempt supplies and non-taxable supplies, separated according to tax numbers of taxpayers.</documentation>
				</annotation>
			</element>
			<element name="OperatorTaxNumber" type="fu:TaxNumberType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše še davčna številka fizične osebe (operaterja), ki izda račun z uporabo elektronske naprave za izdajanje računov. V primeru izdaje računa preko samopostrežnih elektronskih naprav oziroma ko se račun izda brez prisotnosti fizične osebe, se vpiše davčna številka zavezanca. Če oseba nima slovenske davčne številke, se podatek ne vpisuje. / The tax number is entered of the individual (operator), who issues the invoice with the usage of the electronic device for issuing invoices. In cases of issuing invoices via self-service electronic devices or when invoices are issued without the presence of individuals, the tax number of the person liable is entered. The data is not entered if the person has no Slovene tax number.</documentation>
				</annotation>
			</element>
			<element name="ForeignOperator" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se true, če fizična oseba (operater), ki izda račun z uporabo elektronske naprave, nima slovenske davčne številke, drugače false (1 - true, 0 – false). / You enter »true« if the individual (operator), who issues the invoice with the usage of the electronic device, has no Slovene tax number, otherwise »false« (1 – true, 0 – false).</documentation>
				</annotation>
			</element>
			<element name="ProtectedID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se zaščitna oznaka izdajatelja računa. Zaščitna oznaka je sestavljena iz 32 znakov v heksadecimalnem formatu. Primer: 8202f0f963e37a2258b034cf8ae7bbc1. / The protective mark of the invoice issuer is entered. The protective mark includes 32 characters in the hexadecimal notation. Example: 8202f0f963e37a2258b034cf8ae7bbc1.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="32"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SubsequentSubmit" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Naknadno posredovani račun je račun, ki je bil izdan brez enkratne identifikacijske oznake računa – EOR  (npr. zaradi prekinitve elektronske povezave z davčnim organom). Vpiše se true, če je račun naknadno posredovan davčnemu organu, drugače false (1 – true, 0 – false). / Subsequently submitted invoices are invoices, which have been issued without the unique identification invoice mark – EOR (e.g. due to disconnections of electronic connections with the tax authority). If the invoice is subsequently submitted to the tax authority, »true« is entered, otherwise »false« (1 – true, 0 – false).</documentation>
				</annotation>
			</element>
			<element name="ReferenceInvoice" minOccurs="0" maxOccurs="1000">
				<annotation>
					<documentation>Račun iz elektronske naprave, ki se spreminja.</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="ReferenceInvoiceIdentifier" type="fu:IdentifierType">
							<annotation>
								<documentation>Vpiše se številka prvotnega računa v primeru naknadne spremembe podatkov na prvotnem računu, če je bil prvoten račun izdan preko elektronske naprave. Zavezanec izvaja postopek potrjevanja računov tudi za vse naknadne spremembe podatkov na računu, ki spreminjajo prvoten račun in se nanj nedvoumno nanašajo. Podatek se vpiše v primeru, če se z računom, izdanim preko elektronske naprave, spreminja prvoten račun, ki je bil izdan preko elektronske naprave. Za vpis številke računa, ki se spreminja, veljajo enaka pravila kot pri vpisu številke računa. Številka računa je sestavljena iz treh delov: oznaka poslovnega prostora, oznaka elektronske naprave za izdajanje računov, zaporedna številka računa. Številka računa se na računu navede v naslednji obliki: oznaka poslovnega prostora-oznaka elektronske naprave-zaporedna številka računa Primer: TRGOVINA1-BLAG2-1234 Podatki se vpisujejo ločeno. / The number of the original invoice is entered in cases of subsequent changes of data on the original invoice if the original invoice has been issued via the electronic device. The person liable conducts the procedure for verification of invoices also for all subsequent changes of data on the invoice, which change the original invoice and they refer to it with reasonable certainty. The data is entered in cases if the original invoice, which has been issued via the electronic device, changes with the invoice, issued via the electronic device. Rules for entry of the invoice number, which is changed, are the same as those for entry of the invoice number. The invoice number includes three parts: mark of business premises; mark of the electronic device for issuing invoices; sequence number of the invoice. The invoice number is stated on the invoice in the following form: mark of business premises-mark of the electronic device- sequence invoice number. Example: TRGOVINA1-BLAG2-1234. Data are entered separately.</documentation>
							</annotation>
						</element>
						<element name="ReferenceInvoiceIssueDateTime" type="fu:dateTime">
							<annotation>
								<documentation>Vpiše se datum in čas izdaje prvotnega računa v primeru naknadne spremembe podatkov na prvotnem računu, če je bil prvoten račun izdan preko elektronske naprave. Podatek se vpiše v primeru, če se z računom, izdanim preko elektronske naprave, spreminja prvoten račun, ki je bil izdan preko elektronske naprave. Podatek se vpiše v formatu LLLL-MM-DDTUU:MM:SS. / Date and time are entered of issuing the original invoice in cases of subsequent changes of data on the original invoice if the original invoice has been issued via the electronic device. The data is entered in cases if the original invoice, which has been issued via the electronic device, is changed with the invoice, issued via the electronic device. The data is entered in the following format YYYY-MM-DDTHH:MM:SS.</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="ReferenceSalesBook" minOccurs="0" maxOccurs="1000">
				<annotation>
					<documentation>Številka računa iz vezane knjige računov, ki se spreminja; številka seta računa iz vezane knjige računov, ki se spreminja; serijska številka vezane knjige računov iz katere je bil izdan račun, ki se spreminja; datum izdaje računa iz vezane knjige računov, ki se spreminja. / The number is entered of the issued invoice from the pre-numbered invoice book, which is changed, if the original invoice has been issued from the pre-numbered invoice book; number of the invoice from the pre-numbered invoice book, which is changed; number of the invoice set (original invoice + its two copies) from the pre-numbered invoice book, which is changed; serial number of the pre-numbered invoice book, from which the invoice, which is changed, has been issued; date of issuing the invoice from the pre-numbered invoice book, which is changed.</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="ReferenceSalesBookIdentifier" type="fu:SalesBookIdentifierType">
							<annotation>
								<documentation>Številka računa iz vezane knjige računov, ki se spreminja; številka seta računa iz vezane knjige računov, ki se spreminja; serijska številka vezane knjige računov iz katere je bil izdan račun, ki se spreminja. / The number is entered of the issued invoice from the pre-numbered invoice book, which is changed, if the original invoice has been issued from the pre-numbered invoice book; number of the invoice from the pre-numbered invoice book, which is changed; number of the invoice set (original invoice + its two copies) from the pre-numbered invoice book, which is changed; serial number of the pre-numbered invoice book, from which the invoice, which is changed, has been issued.</documentation>
							</annotation>
						</element>
						<element name="ReferenceSalesBookIssueDate" type="date">
							<annotation>
								<documentation>Vpiše se datum izdaje prvotnega računa iz vezane knjige računov, ki se spreminja, če je bil prvoten račun izdan iz vezane knjige računov. Podatek se vpiše v formatu LLLL-MM-DD. Podatek se vpiše v primeru, če se z računom, izdanim preko elektronske naprave, spreminja prvoten račun, ki je bil izdan iz vezane knjige računov. / The issuing date is entered for the original invoice from the pre-numbered invoice book, which is changed if the original invoice has been issued from the pre-numbered invoice book. The data is entered in the following format: YYYY-MM-DD. The data is entered in cases when the original invoice, which has been issued from the pre-numbered invoice book, is changed with the invoice, issued via the electronic device.</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="SpecialNotes" minOccurs="0">
				<annotation>
					<documentation>R_3.20 Vpišejo se morebitne druge oznake, ki podrobneje pojasnjujejo zapise v zvezi z vsebino izdanih računov in njihove spremembe. / Potential other marks are entered, which explain in detail the records in connection with the content of invoices issued and their changes.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="1000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SalesBookType">
		<annotation>
			<documentation>Račun – vezana knjiga računov / Invoice – pre-numbered invoice book</documentation>
		</annotation>
		<sequence>
			<element name="TaxNumber" type="fu:TaxNumberType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se davčna številka zavezanca, ki je izdal račun. / The tax number of the person liable, who has issued the invoice, is entered.</documentation>
				</annotation>
			</element>
			<element name="IssueDate" type="fu:date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se datum izdaje računa, ki je naveden na računu. Podatek se vpiše v formatu LLLL-MM-DD. / The date of issuing the invoice, which is stated on the invoice, is entered. The data is entered in the following format: YYYY-MM-DD.</documentation>
				</annotation>
			</element>
			<element name="SalesBookIdentifier" type="fu:SalesBookIdentifierType" minOccurs="0">
				<annotation>
					<documentation>Vpiše se številka računa, izdanega iz vezane knjige računov.Vpiše se tudi številka dokumenta, ki spreminja prvotni račun (dobropis, storno,…), v primeru izvajanja postopka potrjevanja naknadne spremembe podatkov na računu, ki spreminja prvoten račun in se nanj nedvoumno nanaša. / The number of the invoice is entered, issued from the pre-numbered invoice book. The number of the document is also entered, which changes the original invoice (credit, reversing, etc.) in cases of performing the procedure for verification of subsequent changes of data on the invoice, which changes the original invoice and refers to it with reasonable certainty.</documentation>
				</annotation>
			</element>
			<element name="BusinessPremiseID" type="fu:BusinessPremiseIDType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se oznaka poslovnega prostora v katerem je bil izdan račun iz vezane knjige računov. Oznaka poslovnega prostora mora biti enaka oznaki, ki je bila posredovana v okviru podatkov o poslovnih prostorih. Vsebuje lahko samo črke in številke: 0-9, a-z, A-Z. / The mark of business premises is entered, in which the invoice has been issued from the pre-numbered invoice book. The mark of business premises shall be the same as the mark, which has been submitted within data about business premises. It may include only the following letters and numbers: 0-9, a-z, A-Z.</documentation>
				</annotation>
			</element>
			<element name="CustomerVATNumber" type="fu:CustomerVATType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se davčna številka oziroma identifikacijska številka za namene DDV kupca oziroma naročnika v primeru, ko so ti podatki v skladu z davčnimi predpisi navedeni na računu. Podatek se vpiše, če je naveden na računu. / The tax number is entered or identification number for VAT purposes of the buyer or ordering party in cases when these data are in accordance with tax regulations stated on the invoice. The data is entered if it is stated on the invoice.
</documentation>
				</annotation>
			</element>
			<element name="InvoiceAmount" type="fu:AmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vnese se skupni znesek računa. Vpiše se znesek računa skupaj z DDV in ostalimi davki/dajatvami, zmanjšan za zneske popustov. Decimalno ločilo je pika. / The total amount of the invoice is entered. The amount of the invoice is entered together with VAT and other taxes/duties, decreased for amounts of discounts. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="ReturnsAmount" type="fu:AmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se znesek povračil na računu, ki se priznajo kupcu (npr. na podlagi dobropisa za vračilo embalaže). Podatek se vpiše le, če na računu obstajajo povračila. Decimalno ločilo je pika. / The amount of refunds on the invoice is entered, which are recognized to the buyer (e.g. on the credit basis for returning packaging). The data is entered only if there are refunds on the invoice. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="PaymentAmount" type="fu:AmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se znesek računa za plačilo. Decimalno ločilo je pika. / The invoice amount for payment is entered. The decimal separator is a dot. </documentation>
				</annotation>
			</element>
			<element name="TaxesPerSeller" type="fu:TaxesPerSellerType" maxOccurs="1000">
				<annotation>
					<documentation>Vpiše se vrednost osnov po vrsti davka ali dajatve, razdeljeno po davčnih stopnjah, in pripadajoči davek ali dajatev, vrednost dobav na podlagi posebnih ureditev, dobav pri katerih je plačnik DDV kupec blaga ali naročnik storitve, oproščenih dobav in neobdavčljivih dobav, ločeno po davčnih številkah davčnih zavezancev. / The value of bases is entered according to the type of taxes or duties, divided according to tax rates, and associated taxes or duties, value of supplies on the basis of special arrangements, supplies where the payer of VAT is the buyer of goods or party ordering services, exempt supplies and non-taxable supplies, divided according to tax numbers of taxpayers.</documentation>
				</annotation>
			</element>
			<element name="ReferenceSalesBook" minOccurs="0" maxOccurs="1000">
				<annotation>
					<documentation>Številka računa iz vezane knjige računov, ki se spreminja; številka seta računa iz vezane knjige računov, ki se spreminja; serijska številka vezane knjige računov iz katere je bil izdan račun, ki se spreminja; datum izdaje računa iz vezane knjige računov, ki se spreminja. / Number of the invoice from the pre-numbered invoice book, which is changed; number of the invoice set (original invoice + its two copies) from the pre-numbered invoice book, which is changed; serial number of the pre-numbered invoice book, from which the invoice has been issued, which is changed; date of issuing the invoice from the pre-numbered invoice book, which is changed.</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="ReferenceSalesBookIdentifier" type="fu:SalesBookIdentifierType">
							<annotation>
								<documentation>Številka računa iz vezane knjige računov, ki se spreminja; številka seta računa iz vezane knjige računov, ki se spreminja; serijska številka vezane knjige računov iz katere je bil izdan račun, ki se spreminja. / Number of the invoice from the pre-numbered invoice book, which is changed; number of the invoice set (original invoice + its two copies) from the pre-numbered invoice book, which is changed; serial number of the pre-numbered invoice book, from which the invoice has been issued, which is changed.</documentation>
							</annotation>
						</element>
						<element name="ReferenceSalesBookIssueDate" type="date">
							<annotation>
								<documentation>Vpiše se datum izdaje prvotnega računa iz vezane knjige računov, ki se spreminja, če se spreminja prvoten račun izdan iz vezane knjige računov. Podatek se vpiše v formatu LLLL-MM-DD. Podatek se vpiše v primeru, če se z računom, izdanim iz vezane knjige računov, spreminja prvoten račun, ki je bil izdan iz vezane knjige računov. / The date is entered of issuing the original invoice from the pre-numbered invoice book, which is changed, if the original invoice is changed issued from the pre-numbered invoice book. The data is written in the following format: YYYY-MM-DD. The data is entered in cases when the original invoice, which has been issued from the pre-numbered invoice book, is changed with the invoice, issued from the pre-numbered invoice book.</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="ReferenceInvoice" minOccurs="0" maxOccurs="1000">
				<annotation>
					<documentation>Račun iz elektronske naprave, ki se spreminja. / Number of the invoice, issued via the electronic device, which is changed </documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="ReferenceInvoiceIdentifier" type="fu:IdentifierType">
							<annotation>
								<documentation>Vpiše se številka prvotnega računa v primeru naknadne spremembe podatkov na prvotnem računu, če je bil prvoten račun izdan preko elektronske naprave. Podatek se vpiše v primeru, če se z računom, izdanim iz vezane knjige računov, spreminja prvoten račun, ki je bil izdan preko elektronske naprave. Za vpis številke računa, ki se spreminja, veljajo enaka pravila kot pri vpisu številke računa. Številka računa je sestavljena iz treh delov: oznaka poslovnega prostora, oznaka elektronske naprave za izdajanje računov, zaporedna številka računa  Številka računa se na računu navede v naslednji obliki: oznaka poslovnega prostora-oznaka elektronske naprave-zaporedna številka računa. Primer: TRGOVINA1-BLAG2-1234. Podatki se vpisujejo ločeno. / The number is entered of the original invoice in cases of subsequent changes of data on the original invoice if the original invoice has been issued via the electronic device. The data is entered in cases when the original invoice, which has been issued via the electronic device, is changed with the invoice, issued from the pre-numbered invoice book. For entry of the number of the invoice, which is changed, the same rules apply as for entry of the number of the invoice. The number of the invoice includes three parts: mark of business premises, mark of the electronic device for issuing invoices, sequence invoice number. The number of the invoice is stated on the invoice in the following form: mark of business premises-mark of the electronic device-sequence number of the invoice. Example: TRGOVINA1-BLAG2-1234. Data are entered separately.</documentation>
							</annotation>
						</element>
						<element name="ReferenceInvoiceIssueDateTime" type="fu:dateTime" minOccurs="0">
							<annotation>
								<documentation>Vpiše se datum in čas izdaje prvotnega računa v primeru naknadne spremembe podatkov na prvotnem računu, če je bil prvoten račun izdan preko elektronske naprave. Podatek se vpiše v primeru, če se z računom, izdanim iz vezane knjige računov, spreminja prvoten račun, ki je bil izdan preko elektronske naprave. Podatek se vpiše v formatu LLLL-MM-DDTUU:MM:SS. / The date and time are entered of issuing the original invoice in cases of subsequent changes of data on the original invoice if the original invoice has been issued via the electronic device. The data is entered in cases when the original invoice, which has been issued via the electronic device, is changed with the invoice, issued from the pre-numbered invoice book. The data is entered in the following format: YYYY-MM-DDTHH:MM:SS.</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="SpecialNotes" minOccurs="0">
				<annotation>
					<documentation>Vpišejo se morebitne druge oznake, ki podrobneje pojasnjujejo zapise v zvezi z vsebino izdanih računov in njihove spremembe. / Any potential other marks are entered, which explain in detail the records in connection with the content of issued invoices and their changes.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="1000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<simpleType name="UUIDType">
		<annotation>
			<documentation>Enkratni identifikator sporočila. Vsako sporočilo mora imeti enkratno identifikacijsko oznako. Enako velja tudi pri pošiljanju sporočila, ki se zaradi napake pošilja ponovno. / Unique identifier of the message. Every message shall have the unique identification mark. The same is valid also for sending messages, which are resent due to errors.</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</restriction>
	</simpleType>
	<simpleType name="ClosingTagType">
		<annotation>
			<documentation>Zaprtje poslovnega prostora / Closure of business premises</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Z"/>
		</restriction>
	</simpleType>
	<complexType name="HeaderType">
		<annotation>
			<documentation>Glava sporočila / Message header</documentation>
		</annotation>
		<sequence>
			<element name="MessageID" type="fu:UUIDType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Enkratni identifikator sporočila. Vsako sporočilo mora imeti enkratno identifikacijsko oznako. Enako velja tudi pri pošiljanju sporočila, ki se zaradi napake pošilja ponovno. / Unique identifier of the message. Every message shall have the unique identification mark. The same is valid also for sending messages, which are resent due to errors. </documentation>
				</annotation>
			</element>
			<element name="DateTime" type="fu:dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Datum in čas pošiljanja sporočila. LLLL-MM-DDTUU:MM:SS. / Date and time of sending the message YYYY-MM-DDTHH:MM:SS</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="HeaderResponseType">
		<annotation>
			<documentation>Glava sporočila / Message header</documentation>
		</annotation>
		<sequence>
			<element name="MessageID">
				<annotation>
					<documentation>Identifikator sporočila / Identifier of the message</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="0"/>
						<maxLength value="36"/>
					</restriction>
				</simpleType>
			</element>
			<element name="DateTime" type="fu:dateTime">
				<annotation>
					<documentation>Datum in čas pošiljanja sporočila. LLLL-MM-DDTUU:MM:SS. / Date and time of sending the message</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<simpleType name="TaxNumberType">
		<annotation>
			<documentation>Davčna številka / Tax number</documentation>
		</annotation>
		<restriction base="positiveInteger">
			<pattern value=".{8}"/>
		</restriction>
	</simpleType>
	<simpleType name="NumberingStructureType">
		<annotation>
			<documentation>Vpiše se oznaka načina dodeljevanja številk računom: C – centralno na nivoju poslovnega prostora, B – po posamezni elektronski napravi (blagajna) Oznaka pojasnjuje na kakšen način se računom dodeljujejo številke. Številke računov se lahko dodeljujejo centralno na nivoju poslovnega prostora ali posamično na elektronski napravi za izdajanje računov. / The mark is entered for the method of assigning numbers to invoices: C - centrally at the level of business premises, B - per individual electronic device (cash register). The mark explains the method for assigning numbers to invoices. Invoice numbers may be assigned centrally at the level of business premises or individually on the electronic device for issuing invoices.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="B"/>
			<enumeration value="C"/>
		</restriction>
	</simpleType>
	<complexType name="IdentifierType">
		<annotation>
			<documentation>Številka računa / Number of the invoice</documentation>
		</annotation>
		<sequence>
			<element name="BusinessPremiseID" type="fu:BusinessPremiseIDType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Oznaka poslovnega prostora. Vsebuje lahko samo črke in številke: 0-9, a-z, A-Z. / Mark of business premises. It may include only the following letters and numbers: 0-9, a-z, A-Z.</documentation>
				</annotation>
			</element>
			<element name="ElectronicDeviceID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Oznaka elektronske naprave. Vsebuje lahko samo črke in številke: 0-9, a-z, A-Z. / Mark of the electronic device. It may include only the following letters and numbers: 0-9, a-z, A-Z.</documentation>
				</annotation>
				<simpleType>
					<restriction base="fu:ElectronicDeviceIDType">
						<maxLength value="20"/>
					</restriction>
				</simpleType>
			</element>
			<element name="InvoiceNumber" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Zaporedna številka računa. Vsebuje lahko samo številke 0-9. Niso dovoljene vodilne ničle. / Sequence number of the invoice. It may include only numbers 0-9. Zeros cannot be on the first place.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="20"/>
						<minLength value="1"/>
						<pattern value="\d*"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SalesBookIdentifierType">
		<annotation>
			<documentation>Številka računa / Number of the invoice</documentation>
		</annotation>
		<sequence>
			<element name="InvoiceNumber" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se številka računa, izdanega iz vezane knjige računov. / The number of the invoice is entered, issued from the pre-numbered invoice book.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="20"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SetNumber" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Številka seta računa iz vezane knjige računov, ki se spreminja / Number of the invoice set (original invoice + its two copies) from the pre-numbered invoice book, which is changed.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SerialNumber" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se serijska številka vezane knjige računov iz katere je bil izdan račun, ki se spreminja, če je bil prvoten račun izdan iz vezane knjige računov. / The serial number is entered of the pre-numbered invoice book, from which the invoice, which is changed, has been issued if the original invoice has been issued from the pre-numbered invoice book.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="12"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<simpleType name="BusinessPremiseIDType">
		<annotation>
			<documentation>Oznaka poslovnega prostora / Mark of business premises</documentation>
		</annotation>
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
			<pattern value="[0-9a-zA-Z]{1,20}"/>
		</restriction>
	</simpleType>
	<simpleType name="ElectronicDeviceIDType">
		<annotation>
			<documentation>Oznaka elektronske naprave / Mark of the electronic device</documentation>
		</annotation>
		<restriction base="string">
			<maxLength value="20"/>
			<minLength value="1"/>
			<pattern value="[0-9a-zA-Z]{1,20}"/>
		</restriction>
	</simpleType>
	<simpleType name="CustomerVATType">
		<annotation>
			<documentation>Davčna številka oziroma identifikacijska oznaka za namene DDV kupca / Tax number or identification mark for VAT purposes of the buyer</documentation>
		</annotation>
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<simpleType name="TaxRateType">
		<annotation>
			<documentation>Vrednost davčne stopnje. / Value of the tax rate</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="7"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="TaxableAmountType">
		<annotation>
			<documentation>Znesek davčne osnove (po zmanjšanju za popuste). / Amount of the tax base (after reduction for discounts)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="16"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>
	<complexType name="VATType">
		<annotation>
			<documentation>Vpišejo se podatki o DDV. / Data about VAT are entered.</documentation>
		</annotation>
		<sequence>
			<element name="TaxRate" type="fu:TaxRateType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vrednost davčne stopnje. Decimalno ločilo je pika. / Value of the tax rate. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="TaxableAmount" type="fu:TaxableAmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Znesek davčne osnove (po zmanjšanju za popuste). Decimalno ločilo je pika. / Amount of the tax base (after reduction for discounts). The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="TaxAmount" type="fu:TaxAmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Znesek davka. Decimalno ločilo je pika. / Amount of tax. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FlatRateCompensationType">
		<annotation>
			<documentation>Vpišejo se podatki o pavšalnem nadomestilu. / Data about the flat-rate compensation are entered.</documentation>
		</annotation>
		<sequence>
			<element name="FlatRateRate" type="fu:TaxRateType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vrednost stopnje pavšalnega nadomestila. Decimalno ločilo je pika. / Value of the flat-rate compensation's rate. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="FlatRateTaxableAmount" type="fu:TaxableAmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Osnova oziroma vrednost od katere se obračuna znesek pavšalnega nadomestila (po zmanjšanju za popuste). Decimalno ločilo je pika. / The base or value from which the amount of the flat-rate compensation is settled (after reduction for discounts). The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="FlatRateAmount" type="fu:TaxAmountType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Znesek pavšalnega nadomestila. Decimalno ločilo je pika. / Amount of the flat-rate compensation. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TaxesPerSellerType">
		<annotation>
			<documentation>Vpiše se skupni znesek ostalih davkov oziroma dajatev (razen DDV), ki so na računu. / The total amount is entered of other taxes or duties (except VAT), which are on the invoice.</documentation>
		</annotation>
		<sequence>
			<element name="SellerTaxNumber" type="fu:TaxNumberType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se davčna številka davčnega zavezanca, v imenu in za račun katerega je bil izdan račun, če je račun izdan v tujem imenu in za tuj račun oziroma če je račun izdal prejemnik računa v imenu in za račun dobavitelja. Če račun ni bil izdan v tujem imenu in za tuj račun, se podatek ne vpisuje. / The tax number of the taxpayer is entered in the name of and on behalf of whose the invoice has been issued, if the invoice has been issued in the name of and on behalf of another person or if the invoice has been issued by the recipient of the invoice in the name of and on behalf of the supplier. If the invoice has not been issued in the name of and on behalf of another person, the data is not entered.</documentation>
				</annotation>
			</element>
			<element name="VAT" type="fu:VATType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Vpišejo se podatki o DDV. Podatek se posreduje le, če račun vsebuje znesek obračunanega DDV. Podatek je sestavljen iz davčne stopnje, davčne osnove in zneska davka. Za davčne stopnje lahko obstaja seznam davčnih stopenj pri davčnemu organu. / Data about VAT are entered. The data is submitted only if the invoice  includes the amount of VAT settled. The data consists of the tax rate, tax base and amount of tax. The tax authority may have a list of tax rates.</documentation>
				</annotation>
			</element>
			<element name="FlatRateCompensation" type="fu:FlatRateCompensationType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Vpišejo se podatki o pavšalnem nadomestilu. Podatek se posreduje le, če račun vsebuje znesek obračunanega pavšalnega nadomestila. Podatek je sestavljen iz stopnje, osnove in zneska pavšalnega nadomestila. / Data about the flat-rate compensation are entered. The data is submitted only if the invoice includes the amount of the flat-rate compensation settled. The data consists of the rate, base and amount of the flat-rate compensation.</documentation>
				</annotation>
			</element>
			<element name="OtherTaxesAmount" type="fu:TaxAmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vpiše se skupni znesek ostalih davkov oziroma dajatev (razen DDV), ki so na računu. Podatek se vpisuje le, če račun vsebuje davke oziroma dajatve, ki niso DDV. Decimalno ločilo je pika. / The total amount is entered of other taxes or duties (except VAT), which are on the invoice. The data is entered only if the invoice includes taxes or duties, which are not VAT. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="ExemptVATTaxableAmount" type="fu:TaxableAmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Skupna vrednost dobav blaga ali storitev na računu, ki so v skladu z Zakonom o davku na dodano vrednost oproščene plačila DDV (po zmanjšanju za popuste). Podatek se vpiše le, če na računu obstaja znesek oproščenih dobav. Decimalno ločilo je pika. / The total value of supplies of goods or services on the invoice, which are in accordance with the Value Added Tax Act exempt from VAT payment (after reduction for discounts). The data is entered only if the amount of exempt supplies exists on the invoice. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="ReverseVATTaxableAmount" type="fu:TaxableAmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vrednost dobav, za katere je v skladu s 76.a členom Zakona  o davku na dodano vrednost prejemnik blaga ali storitev plačnik DDV - obrnjena davčna obveznost (po zmanjšanju za popuste). Podatek se vpiše le, če na računu obstajajo takšne dobave. Decimalno ločilo je pika. / The value of supplies, for which in accordance with Article 76.a of the Value Added Tax Act the recipient of goods or services is the payer of VAT – reverse charge procedure (after reduction for discounts). The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="NontaxableAmount" type="fu:TaxableAmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vrednost neobdavčljivih dobav blaga ali storitev na računu (po zmanjšanju za popuste). Podatek se vpiše le, če na računu obstaja vrednost dobav, ki v skladu z Zakonom o davku na dodano vrednost niso predmet DDV. Decimalno ločilo je pika. The data is entered only if such supplies exist on the invoice. / The value of non-taxable supplies of goods or services on the invoice (after reduction for discounts). The data is entered only if the value of supplies, which are not subject to VAT in accordance with the Value Added Tax Act, exists on the invoice. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
			<element name="SpecialTaxRulesAmount" type="fu:TaxableAmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vrednost dobav, za katere se uporablja posebna ureditev, po kateri se obdavčuje razlika v ceni, in sicer posebna ureditev za rabljeno blago, umetniške predmete, zbirke in starine (101. člen Zakona o davku na dodano vrednost). Vpiše se tudi vrednost dobav, za katere se obračunava in plačuje DDV po posebni ureditvi za potovalne agencije (97. člen Zakona o davku na dodano vrednost). Vpiše se znesek, ki je zmanjšan za popuste. Decimalno ločilo je pika. / The value of supplies, for which a special arrangement is used, on the basis of which the margin is taxed, i.e. the special arrangement for second-hand goods, works of art, collector’s items and antiques (Article 101 of the Value Added Tax Act). The value of supplies is also entered, for which VAT is charged and paid according to the special arrangement for travel agencies (Article 97 of the Value Added Tax Act). The amount is entered, which is reduced for discounts. The decimal separator is a dot.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<simpleType name="TaxAmountType">
		<annotation>
			<documentation>Znesek davčne osnove (po zmanjšanju za popuste). / Amount of the tax base (after reduction for discounts).</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="16"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="TaxDescriptionType">
		<annotation>
			<documentation/>
		</annotation>
		<restriction base="string">
			<maxLength value="1"/>
			<minLength value="1"/>
		</restriction>
	</simpleType>
	<complexType name="PropertyIDType">
		<sequence>
			<element name="CadastralNumber">
				<annotation>
					<documentation>Številka katastrske občine / Number of the cadastral community</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<totalDigits value="4"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BuildingNumber">
				<annotation>
					<documentation>Številka stavbe / Number of the building</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<totalDigits value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BuildingSectionNumber">
				<annotation>
					<documentation>Številka dela stavbe / Number of the part of the building</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<totalDigits value="4"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<simpleType name="PremNumberType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<simpleType name="AmountType">
		<annotation>
			<documentation>Znesek / Amount </documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="16"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>
	<complexType name="AddressInfoType">
		<choice>
			<element name="Address" type="fu:AddressType">
				<annotation>
					<documentation>Naslov poslovnega prostora / Address of business premises</documentation>
				</annotation>
			</element>
			<element name="PremiseType" type="fu:OtherPremiseType">
				<annotation>
					<documentation>Vpiše se vrsta poslovnega prostora, če zavezanec izdaja račune v premičnem poslovnem prostoru: A – premičen objekt (npr. prevozno sredstvo, premična stojnica) ali B – objekt na stalni lokaciji (npr. stojnica na tržnici, kiosk) ali C – posamezna elektronska naprava za izdajo računov ali vezana knjiga računov v primerih, ko zavezanec ne uporablja drugega poslovnega prostora. / The type of business premises is entered if the person liable issues invoices in movable business premises: A - movable object (e.g. vehicle, movable stand) or B- object at a permanent location (e.g. market stand, newsstand) or C - individual electronic device for issuing invoices or pre-numbered invoice book in cases when the person liable doesn't use other business premises</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="BPIdentifierType">
		<choice>
			<element name="RealEstateBP" type="fu:RealEstateBPType">
				<annotation>
					<documentation>Vpišejo se podatki o nepremičnem poslovnem prostoru, če zavezanec izdaja račune v nepremičnem poslovnem prostoru. / Data about immovable business premises are entered if the person liable issues invoices in immovable business premises.</documentation>
				</annotation>
			</element>
			<element name="PremiseType" type="fu:OtherPremiseType">
				<annotation>
					<documentation>Vpiše se vrsta poslovnega prostora, če zavezanec izdaja račune v premičnem poslovnem prostoru: A – premičen objekt (npr. prevozno sredstvo, premična stojnica) ali B – objekt na stalni lokaciji (npr. stojnica na tržnici, kiosk) ali C – posamezna elektronska naprava za izdajo računov ali vezana knjiga računov v primerih, ko zavezanec ne uporablja drugega poslovnega prostora. / The type of business premises is entered if the person liable issues invoices in movable business premises: A - movable object (e.g. vehicle, movable stand) or B - object at a permanent location (e.g. market stand, newsstand) or C - individual electronic device for issuing invoices or pre-numbered invoice book in cases when the person liable doesn't use other business premises.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="RealEstateBPType">
		<sequence>
			<element name="PropertyID" type="fu:PropertyIDType">
				<annotation>
					<documentation>Vpiše se identifikacijska oznaka stavbe oziroma dela stavbe, kjer se nahaja poslovni prostor, kot je določena v registru nepremičnin. Oznaka se vpiše, če zavezanec izdaja račune v nepremičnem poslovnem prostoru. Identifikacijska oznaka nepremičnine je sestavljena iz treh delov: številka katastrske občine, številka stavbe, številka dela stavbe. Podatki se vpisujejo ločeno. / The identification mark of the building or part of the building is entered, where business premises are located, as it is defined in the register of immovable property. The mark is entered if the person liable issues invoices in immovable business premises. The identification mark of the immovable property consists of three parts: number of the cadastral community, number of the building, number of the part of the building. Data are entered separately.</documentation>
				</annotation>
			</element>
			<element name="Address" type="fu:AddressType">
				<annotation>
					<documentation>Vpiše se naslov poslovnega prostora, če zavezanec izdaja račune v nepremičnem poslovnem prostoru. Naslov sestavljajo ulica in hišna številka, dodatek k hišni številki, naselje, pošta in poštna številka. / The address of business premises is entered if the person liable issues invoices in immovable business premises. The address includes: street, house number, addition to the house number, town, post office and postcode.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AddressType">
		<sequence>
			<element name="Street">
				<annotation>
					<documentation>Ulica / Street</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
			<element name="HouseNumber">
				<annotation>
					<documentation>Hišna številka / House number</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>
			<element name="HouseNumberAdditional" minOccurs="0">
				<annotation>
					<documentation>Dodatek k hišni številki / Addition to the house number</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Community">
				<annotation>
					<documentation>Naselje / Town</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
			<element name="City">
				<annotation>
					<documentation>Pošta / Post office</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="PostalCode">
				<annotation>
					<documentation>Poštna številka / Postcode</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="4"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<simpleType name="OtherPremiseType">
		<annotation>
			<documentation>Vpiše se vrsta poslovnega prostora, če zavezanec izdaja račune v premičnem poslovnem prostoru: A – premičen objekt (npr. prevozno sredstvo, premična stojnica) ali B – objekt na stalni lokaciji (npr. stojnica na tržnici, kiosk) ali C – posamezna elektronska naprava za izdajo računov ali vezana knjiga računov v primerih, ko zavezanec ne uporablja drugega poslovnega prostora. prostoru / The type of business premises is entered if the person liable issues invoices in movable business premises: A - movable object (e.g. vehicle, movable stand) or B - object at a permanent location (e.g. market stand, newsstand) or C - individual electronic device for issuing invoices or pre-numbered invoice book in cases when the person liable doesn't use other business premises</documentation>
		</annotation>
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
			<enumeration value="A"/>
			<enumeration value="B"/>
			<enumeration value="C"/>
		</restriction>
	</simpleType>
	<complexType name="SoftwareSupplierType">
		<choice>
			<element name="TaxNumber" type="fu:TaxNumberType">
				<annotation>
					<documentation>Vpiše se davčna številka pravne ali fizične osebe – proizvajalca ali vzdrževalca programske opreme s sedežem v Sloveniji. / The tax number is entered of a legal entity or an individual – producer or software maintenance provider established in Slovenia.</documentation>
				</annotation>
			</element>
			<element name="NameForeign">
				<annotation>
					<documentation>Vpiše se naziv in naslov proizvajalca ali vzdrževalca programske opreme, ki nima sedeža v Sloveniji. / The title and address is entered of the producer or software maintenance provider not established in Slovenia.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="1000"/>
					</restriction>
				</simpleType>
			</element>
		</choice>
	</complexType>
	<complexType name="ErrorType">
		<sequence>
			<element name="ErrorCode">
				<simpleType>
					<restriction base="fu:ErrorCodeType">
						<maxLength value="5"/>
						<minLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="ErrorMessage" type="fu:ErrorMessageType"/>
		</sequence>
	</complexType>
	<simpleType name="ErrorCodeType">
		<annotation>
			<documentation>Šifra napake je v formatu sXXX, kjer je XXX triznakovna številka. / The error code is in sXXX format, where XXX is a three-character number.</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="S[0-9]{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="ErrorMessageType">
		<annotation>
			<documentation>Sporočilo napake omejeno na 500 napak. / The error message is limited to 500 errors.</documentation>
		</annotation>
		<restriction base="string">
			<maxLength value="500"/>
		</restriction>
	</simpleType>
	<complexType name="ErrorsType">
		<sequence>
			<element name="Error" type="fu:ErrorType" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="EchoRequest" type="string" nillable="false">
		<annotation>
			<documentation>Echo sporočilo. / Echo message.</documentation>
		</annotation>
	</element>
	<element name="EchoResponse" type="string" nillable="false">
		<annotation>
			<documentation>Echo odgovor. / Echo response.</documentation>
		</annotation>
	</element>
	<simpleType name="date">
		<restriction base="xs:date">
			<pattern value="\d{4}[-]\d{2}[-]\d{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="dateTime">
		<restriction base="xs:dateTime">
			<pattern value="\d{4}[-]\d{2}[-]\d{2}(.)*"/>
		</restriction>
	</simpleType>
</schema>
